body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("../images/background.png");
}

header {
    background-color: #333;
    color: white;
    padding: 1.7rem;
}

main {
    padding: 2rem;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color: #f4f4f4;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
}

.nav-links {
  display: flex;
  list-style: none;
}


.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease, color 0.3s ease;
}


.nav-links a:hover {
  color: #ea00ff;
  filter: brightness(1.5);
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}